@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
	--linear-gradient: rgb(121, 36, 211);
	--red: rgb(255, 77, 77);
	--white: rgb(255, 255, 255);
	--light-grayish-violet: rgb(126, 115, 153);
	--very-dark-violet: rgb(52, 8, 43);
  }
  



* {
	box-sizing: border-box;
}

#container{
	display: grid;
	grid-template-columns: repeat(2,50%);
	align-items: center;
	font-family: 'Space Grotesk';
	font-size: 18px;
	width: 1440px;
	height: 960px;
	background-color: var(--white);
	background-image: url(./images/bg-main-desktop.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: var(--light-grayish-violet);
}


#form {
	justify-content: stretch;
	grid-template-columns: 30vw;
	grid-template-rows: auto;
	gap: 16px;
}

#card{
	justify-content: stretch;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
}

#card_font, #card_black{
	border-radius: 10px;
	display: grid;
	background-size: cover;
	width: 360px;
	height: 190px;
}

#card_font{
	background-image: url(./images/bg-card-front.png);
	color: var(--white);
	grid-template-columns: auto;
	gap: auto;
	align-items: center;
	padding: 10px;
	grid-column: 2/3;
	grid-row: 1/2;
	justify-self: center;
}

#card_black{
	background-image: url(./images/bg-card-back.png);
	grid-auto-rows: auto;
	grid-template-columns: 1fr 5fr 1fr;
	align-items: center;
	grid-column: 2/3;
	grid-row: 2/3;
	justify-self: end;

}

#card_cvc{
	grid-column:  2/3;
	text-align: end;
	color: var(--white);
}


#card_number{
	text-align: center;
	padding: 0 10%;
	font-size: 24px;
}
.detail{
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.input-form{
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	gap: 10px;
}

.card-detail, .exp-date{
	display: grid;
	grid-template-columns: repeat(2, 48%);
	justify-content: space-between;
}

input, button{
	padding: 16px;
	border-radius: 10px;
	border: 1px solid var(--light-grayish-violet);
}

input:focus{
	outline: 1px solid var(--linear-gradient);
}

button{
	background-color: var(--very-dark-violet);
	color: var(--white);
}
h1{
	color: var(--very-dark-violet);
	margin: 0;
}

#complete{
	align-items: center;
	text-align: center;
	gap: 16px;
	
}

#img{
	text-align: center;
}

button:hover{
	background-color: var(--light-grayish-violet);
}

.error{
	color: var(--red);
}

.hidden{
	display: none;
}

.show{
	display: grid;
}

@media screen and (max-width: 400px) {
	#container{
		display: grid;
		grid-template-rows: 1fr 2fr;
		grid-template-columns: 100%;
		width: auto;
		background-image: url(./images/bg-main-mobile.png);
		background-attachment: local;
		background-size:contain;
		align-items: start;
		justify-content: center;
		gap: 1em;
		width: 375px;
		overflow: hidden;
	}
	#form{
		grid-template-columns: 100%;
		max-width: 375px;
		color: var(--very-dark-violet);
		font-size: 14px;
		padding: 2em;
	}

	#card{
		grid-template-rows: 20vh;
		grid-template-columns: 1fr 16fr 1fr;
		gap: 0;
		margin-top: 1em	;
	}

	#card_font{
		width: 260px;
		height: 150px;
		z-index: 1;
		grid-column: 2/3;
		grid-row: 2/3;
		justify-self: start;
	
	}

	#card_black{
		width: 260px;
		height: 150px;
		grid-column: 2/3;
		grid-row: 1/2;

	}
	#logo{
		width: 42px;
		height: 27px;
	}
	#card_number, #output_month, #output_name, #output_year{
		font-size: 13px;
	}
}